### OS ###
# macOS
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride
*.log
*.tmp


### IDE ###
# VSCode
.vscode/
.history/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.history
.ionide
*.code-workspace
*.vsix

# IntelliJ
captures/
build/
out/
.cxx/
.externalNativeBuild/
.idea/
.idea_modules/
.gradle/
.navigation/
local.properties
output.json
!gradle/wrapper/gradle-wrapper.jar
*.iml
*.ipr
*.iws
*.apk


### Code ###
# Python
__pycache__/
build/
dist/
env/
ENV/
htmlcov/
venv/
lib/
lib64/
parts/
sdist/
var/
.ipynb_checkpoints/
*.egg-info/
.eggs/
.tox/
.env
.env*
.venv
.coverage
.coverage.*
.cache
.Python
nosetests.xml
coverage.xml
*.py[codz]
*.py[cod]
*$py.class
*.cover
*.egg
*.manifest
*.so
*.sqlite3
*.spec
*.py,cover


### Project ###
dataset/
model/
